.gameContainer {
    border: 2px solid rgb(116, 116, 116);
    background-color: rgb(46, 46, 46);
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-left: 280px;
    justify-content: center;
}
.cartaImagem {
    height: 150px;
    border-radius: 5px;
    margin-left: 5px;
}
.jogador {
    width: 800px;
    height: 150px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    position: relative;
}
.oponente {
    width: 800px;
    height: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5px;
}
.aposta {
    border-top: 2px solid rgb(116, 116, 116);
    width: 800px;
    height: 80px;
    background-color: rgb(146, 146, 146);
    margin-top: 59px;
    display: flex;
}
.apostaJogo {
    width: 150px;
    height: 65px;
    justify-content: center;
    margin-left: 0px;
    margin-top: 5px;
}
.botaoAposta {
    display: flex;
    margin-top: 20px;
}
.botaoJogo {
    height: 25px;
    width: 100px;
    margin-top: -15px;
    margin-left: 3.5px;
    border: 2px solid rgb(70, 70, 70);
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inputAposta {
    outline: none;
    width: 120px;
    height: 20px;
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 5px;
    color: white;
    margin-left: 13.5px;
}
.futter {
    margin-top: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}
.rs {
    position: relative;
    display: flex;
    margin-left: 200px;
    margin-top: 7px;
    color: rgb(90, 90, 90);
}
.botaoInGame {
    margin-left: 250px;
    margin-top: -60px;
}
.botaoPedir {
    height: 25px;
    width: 100px;
    background-color: rgb(44, 44, 44);
    border: 2px solid rgb(36, 36, 36);
    color: rgb(136, 136, 136);
    border-radius: 15px;
}
.pontos {
    width: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 350px;
    color: white;
}
.resJogoWin {
    background-color: rgb(0, 0, 0);
    border-top: 2px solid rgb(123, 255, 123);
    border-left: 2px solid rgb(123, 255, 123);
    height: 100px;
    width: 200px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(123, 255, 123);
}
.dinheiroWin {
    height: 60px;
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -25px;
}
.loadingBar1 {
    background-color: rgb(0, 117, 0);
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 5px;
}
.loadingBar2 {
    background-color: rgb(0, 255, 0);
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 5px;
}
