.gameContainer {
    border: 2px solid rgb(116, 116, 116);
    background-color: rgb(46, 46, 46);
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-left: 280px;
}
.futter {
    margin-top: 50px;
}