body {
    margin: 0;
    padding: 0;
    background-color: 	#dddddd;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 600;
    font-size: 20px;
    user-select: none;
}
.ul1 {
    list-style: none;
    display: flex;
    margin-top: 15px;
    margin-left: 0px;
}
.ul2 {
    list-style: none;
    display: flex;
    margin-top: -47px;
    margin-left: 80px;
}
.ul3 {
    list-style: none;
    display: flex;
    margin-top: -47px;
    margin-left: 190px;
}
li {
    cursor: pointer;
}
.money {
    border: 2px solid rgb(9, 39, 0);
    border-radius: 5px;
    background-color: rgb(3, 34, 0);
    color: white;
    height: 20px;
    width: 130px;
    margin-top: 20px;
    margin-left: 750px;
    text-align: center;
    font-size: 15px;
    align-content: center;
    position: relative;
    display: flex;
    cursor: pointer;
}
.money1 {
    margin-left: 850px;
    width: 130px;
    position: relative;
    display: flex;
}
.lista {
    margin-left: -0px;
    color: #2ccf0b;
}
li#nomeUsuario {
    margin-left: 790px;
    margin-top: 2px;
}
.header {
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    margin-top: 0px;
    display: flex;
    box-shadow: 2px 2px 10px 2px;
}
.futter {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    margin-top: 190px;
    box-shadow: 2px 2px 10px 2px;
    display: flex;
    justify-content: center;
}
.futI {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.logo1 {
    height: 50px;
    position: relative;
    display: flex;
    margin-top: -4px;
    margin-left: 938px;
    cursor: pointer;
    display: none;
}
.tabela {
    background-color: rgb(59, 150, 59);
    height: 1100px;
    width: 220px;
    margin-top: -474px;
    box-shadow: 2px 0 5px -2px rgb(0, 0, 0);
}
.jogosTabela {
    border-bottom: 4px solid #1e4418;
    height: 45px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerLogin {
    border-radius: 10px;
    height: 350px;
    width: 500px;
    position: relative;
    display: flex;
    margin-left: 440px;
    margin-top: 80px;
    background-color: #444444;
    display: none;
    box-shadow: 1px 2px 10px 2px #000000;
    z-index: 1;
}
.loginInputs {
    color: white;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 25px;
}
.containerCadastro {
    border-radius: 10px;
    height: 350px;
    width: 500px;
    position: fixed;
    display: flex;
    margin-left: 440px;
    margin-top: 80px;
    background-color: #444444;
    display: none;
    box-shadow: 1px 2px 10px 2px #000000;
    z-index: 1;
}
.containerLoginHide {
    height: 354px;
    width: 500px;
    position: relative;
    display: flex;
    margin-left: 1600px;
    margin-top: 120px;
    display: block;

}
.containerFormas {
    height: 60px;
    width: 90%;
    margin-left: 8%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formas {
    border: 2px solid rgb(56, 56, 56);
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.qtdDepo {
    margin-left: 160px;
} 
.qtdText {
    margin-left: 165px;
    color: white;
    font-size: 15px;
}
.cartao {
    opacity: 0.7;
}
.cartaoForm {
    display: block; 
    margin-top: 5px;
}
.cartaoInput {
    width: 220px;
    height: 35px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    background-color: #161616;
    color: white;
    font-size: 20px;
}
.qtdInput {
    width: 150px;
    height: 20px;   
}
.cartaoInf {
    color: white;
    margin-left: 20px;
    margin-top: 20px;    
}
.botaoCartao {
    margin-top: 15px;
    margin-left: 150px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #1ca600;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}
.boleto {
    opacity: 1;
}
#boletoDisplay {
    display: none;
    justify-content: center;
    align-items: center;
}
.boletoForm {
    margin-top: 30px;
}
.qtdDep {
    color: white;
    font-size: 30px;
    margin-left: -6px;
    margin-top: 0px;
}
.boletoInput {
    width: 220px;
    height: 35px;
    margin-left: 47px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    background-color: #161616;
    color: white;
    font-size: 20px;
}
.botaoBoleto {
    margin-top: 30px;
    margin-left: 60px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #1ca600;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}
.pix {
    justify-content: center;
    margin-right: 0px;
    opacity: 1;
}
#pixDisplay {
    display: none;
    justify-content: center;
    align-items: center;
}
.pixForm {
    margin-top: 30px;
}
.cartaoLogo {
    width: 30px;
    margin-left: -0px;
}
.boletoLogo {
    width: 25px;
}
.pixLogo {
    margin-left: -10px;
}
.cadastreSe {
    color: rgb(0, 175, 0);
    height: 70px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}
.inputsCadastro {
    border: 2px solid #556455;
    outline: none;
    background-color: #272c27;
    height: 25px;
    width: 220px;
    margin-left: 13px;
    color: white;
}
.inputsLogin {
    border: 2px solid rgb(131, 131, 131);
    outline: none;
    background-color: #252525;
    height: 40px;
    width: 445px;
    margin-left: 21px;
    margin-top: 20px;
    color: white;
    font-size: 30px;
}
.botaoLogin {
    border: 2px solid #2ccf0b;
    background-color: #2cc90d;
    color: white;
    font-size: 25px;
    height: 50px;
    width: 225px;
    margin-left: 135px;
    margin-top: 20px;
    cursor: pointer;
}
.spanInput {
    margin-left: 10px;
    color: white;
}
.spanInputEmail {
    margin-left: 90px;
    color: white;
}
.spanInputCPF {
    margin-left: 57px;
    color: white;
}
.spanInputSenha {
    margin-left: 185px;
    color: white;
}
.botao {
    background-color: #2cc90d;
    border: 2px solid #2ccf0b;
    color: white;
    height: 40px;
    width: 275px;
    margin-left: 113px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
}
.problemaCadastro {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #242924;
    cursor: pointer;
}
.problemaLogin {
    display: flex;
    justify-content: center;
    color: #202020;
    margin-top: 5px;
    cursor: pointer;
}
.abrirJogos {
    border-bottom: 4px solid #1e4418;
    background-color: #1d311a;
    height: 300px;
    display: none;
}
.propaganda {
    margin-top: -1050px;
    margin-left: 280px;
    height: 300px;
    width: 80%;
}
.imagem {
    height: 385px;
    width: 1000px;
    cursor: pointer;
}
.containerJogos {
    border: 2px solid #747474;
    background-color: #444444;
    width: 997px;
    height: 400px;
    margin-top: 100px;
    margin-left: 280px;
    border-radius: 15px;
}
.dinheiro {
    margin-top: 17px;
    margin-left: 20px;
    height: 30px;
    width: 200px;
    display: flex;
    display: none;
    z-index: 2;
}
.imagemSaque {
    height: 35px;
    margin-left: 146px;
}
.depositar {
    background-color: rgb(0, 194, 0);
    border: 2px solid #26e200;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 90px;
    margin-left: 0px;
    margin-top: -2px;
    cursor: pointer;
    font-size: 19px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.sacar {
    background-color: #000000;
    border: 2px solid #505050;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 90px;
    margin-left: 100px;
    margin-top: -34px;
    text-align: center;
    cursor: pointer;    
}
.jogoJogo {
    border-bottom: 2px solid rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(66, 66, 66); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(102, 102, 102); 
  }
.pixForm {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.saqueInput {
    width: 320px;
    height: 35px;
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #161616;
    color: white;
    font-size: 20px;
}
.botaoSaque {
    background-color: #2cc90d;
    border: 2px solid #2ccf0b;
    color: white;
    height: 40px;
    width: 275px;
    margin-left: 28px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
.historicoJogo {
    border-bottom: 2px solid rgb(31, 31, 31);
    height: 31.5px;
    color: white;
    display: flex;
}
.nomeHist {
    margin-left: 10px;
    width: 200px;
    position: relative;
}
.regHist {
    color: #1ca600;
    margin-left: 100px;
}
.multiHist {
    color: #2cc90d;
    margin-left: 420px;
    position: absolute;
}
.jogoHist {
    color:#222222;
    margin-left: 500px;
    position: absolute;
}
.horarioHist {
    margin-left: 810px;
    position: absolute;
}